@import "tailwindcss";

@theme {
  --color-morocco-green: #006400;
  --color-morocco-light: #74c476;
  --color-morocco-red: #c60c30;
  --font-family-sans: system-ui, -apple-system, sans-serif;
}

/* Dark mode toggle variables */
:root {
  --bg: #fff;
  --primary: hsl(48, 90%, 55%);
  --primaryT: hsla(48, 90%, 55%, 0.125);
  --transDur: 0.3s;
}
