@import "tailwindcss";

@theme {
  --color-morocco-green: #006400;
  --color-morocco-light: #74c476;
  --color-morocco-red: #c60c30;
  --font-family-sans: system-ui, -apple-system, sans-serif;
}

:root {
  --bg: #fff;
  --primary: hsl(48,90%,55%);
  --primaryT: hsla(48,90%,55%,0.125);
  --transDur: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
